[submodule "ARVTech.DataAccess"]
	path = ARVTech.DataAccess
	url = https://github.com/BusStationSys/ARVTech.DataAccess.git
	branch = main
[submodule "ARVTech.Shared"]
	path = ARVTech.Shared
	url = https://github.com/BusStationSys/ARVTech.Shared.git
	branch = main
